## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(i, " x ", j, " = ", i*j)

1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
1  x  6  =  6
1  x  7  =  7
1  x  8  =  8
1  x  9  =  9
1  x  10  =  10
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90
10  x  1  =  10
10  x  2  =  20
10  x  3  =  30
10  x  4  =  40
10  x  5  =  50
10  x  6  =  60
10  x  7  =  70
10  x  8  =  80
10  x  9  =  90
10  x  10  =  100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
l1=[1,3,5,7,9]
l2=[2,4,6,8,10]
l3=[]
for i in range(len(l1)):
  if i%2==0:
    l3.append(l2[i])
  else:
    l3.append(l1[i])
print(l3)

[2, 3, 6, 7, 10]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
for i in range(8,0,-1):
    j=i
    space=8-j
    while(space>0):
      print("\t", end=' ')
      space-=1
    while(j>0):
      print("*\t", end=' ')
      j=j-1
    print('\n')

*	 *	 *	 *	 *	 *	 *	 *

	 *	 *	 *	 *	 *	 *	 *

	 	 *	 *	 *	 *	 *	 *

	 	 	 *	 *	 *	 *	 *

	 	 	 	 *	 *	 *	 *

	 	 	 	 	 *	 *	 *

	 	 	 	 	 	 *	 *

	 	 	 	 	 	 	 *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
def exponent(base, exp):
  ans=1
  for i in range(exp):
    ans*=base
  return ans
print(exponent(5,4))

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [ ]:
# creating a new file
result = open('ans.txt', 'x')
result = open('ans.txt', 'w')

with open("test.txt", 'r') as f:
  for line in f:
    if line != 'line5\n':
      result.write(line)

f.close()
result.close()
with open("ans.txt", 'r') as ans:
  for line in ans:
    print(line)

ans.close()

line1

line2

line3

line4

line6

line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
names = input(" Give your input: ")
l=names.split(" ")
name1=l[0]
name2=l[1]
name3=l[2]
print(name1)
print(name2)
print(name3)

 Give your input: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [ ]:
def show_employee(name, salary=9000):
  print(name, " salary:", salary)

show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Bill Gates  salary: 12000
Elon Musk  salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [ ]:
sen = input("Enter the sentence")
li = sen.split()
for word in li:
  for char in word:
    if char=='0' or char=='1' or char=='2' or char=='3' or char=='4' or char=='5' or char=='6' or char=='7' or char=='8' or char=='9' :
      print(word)
      break

Enter the sentenceHarry25 is Gryffindor Wizard50 and cursed
Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [ ]:
special = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '-', '_', '=', '+','{', '}', '[', ']', '|', '\\', ':', ';', '"', "'", '<', '>', ',', '.', '?', '/','~', '`' ]
str1 = '/*Modi is @Politician & Melony!!'
l=list(str1)
for i in range(len(l)):
  if l[i] in special:
    l[i]='#'
str2=""
for i in l:
  str2+=i
print(str2)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [ ]:
def power(base, exp):
  ans=1
  for i in range(exp):
    ans*=base
  return ans
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
result=[]
for i in first_list:
  for j in second_list:
    if j==power(i,2):
      result.append((i,j))
result=set(result)
print (result)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [ ]:
set1 = {1,2,3,4,5}
set2={2,4,6,8,10}
print("A-B = ", set1-set2)
print("B-A = ", set2-set1)
print("A intersection B = ", set1&set2)
print("A union B = ", set1 | set2)

A-B =  {1, 3, 5}
B-A =  {8, 10, 6}
A intersection B =  {2, 4}
A union B =  {1, 2, 3, 4, 5, 6, 8, 10}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [ ]:
class Vehicle:
  def __init__(self, max_speed, mileage):
    self.max_speed=max_speed
    self.mileage=mileage
  def print_att(self):
    print("Max_speed: ", self.max_speed)
    print("Mileage: ", self.mileage)

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [ ]:
class Bus(Vehicle):
  pass

bus1 = Bus(200, 4.5)
bus1.print_att()

Max_speed:  200
Mileage:  4.5

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [ ]:
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity=50):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

bus1=Vehicle("bus", 200, 4.5)
bus1.seating_capacity()

'The seating capacity of a bus is 50 passengers'

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [ ]:
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def show(self):
    print("Name: ", self.name)
    print("Mileage: ", self.mileage)
    print("Capacity: ", self.capacity)

  def fare(self):
    total = self.capacity * 100
    return total + total * 0.1


School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [ ]:
import json
data = {"name" : "ABCD", "Age" : 30}
json_dict = json.dumps(data)
print(json_dict)

{"name": "ABCD", "Age": 30}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [ ]:
import json
sampleJson = '{"id" : 1, "name" : "value2", "age" : 29}'
json_dict = json.loads(sampleJson)
sort_key=sorted(json_dict.keys())
ans_dict={}
for key in sort_key:
  ans_dict[key]=json_dict[key]


final_json = json.dumps(ans_dict)

# creating a file
#file=open("file.json", 'x')
with open("file.json", 'w') as file:
  file.write(final_json)

file.close()
with open("file.json",'r') as file:
  print(file.readline())

{"age": 29, "id": 1, "name": "value2"}